{% extends "dashboard/base.html" %}
{% block dashboard_content %}
<div class="prepare-order">
  <h2>Prepare Order</h2>
  <form method="POST">
    <label for="orderID">Enter Order ID:</label>
    <input
      type="text"
      id="orderID"
      name="orderID"
      placeholder="Order ID"
      required
    />
    <br />
    <button type="submit" class="btn">Prepare</button>
  </form>
  {% with messages = get_flashed_messages() %} {% if messages %}
  <ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %} {% endwith %}
  <div class="button-container">
    <a href="/dashboard" class="btn">Back to Dashboard</a>
  </div>
</div>
{% endblock %}
