<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Find Items</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='../static/style.css') }}"
    />
  </head>
  <body>
    <div class="dashboard">
      <nav class="nav-bar">
        <div class="nav-brand">Welcome Home</div>
        <div class="nav-links">
          <a href="/dashboard" class="nav-link">Dashboard</a>
          <a href="{{ url_for('logout') }}" class="nav-link logout">Logout</a>
        </div>
      </nav>

      <div class="dashboard-content">
        <section id="find-orders" class="data-section">
          <h2>Find Items</h2>
          <div class="form-container">
                    <form action="/SingleItemAuth" method="POST">
                        <input type="text" name="ItemID" placeholder="Enter the ItemID" required />
                        <br>
                        <input type="submit" value="Submit" class="btn" />
                    </form>
          <div class="data-table">
            <table>
              <thead>
                <tr>
                    <th>ItemID</th>
                    <th>Item Description</th>
                    <th>Room No</th>
                    <th>Shelf</th>
                    <th>Shelf No</th>
                    <th>Shelf Description</th>
                </tr>
              </thead>
              <tbody>
                
                {% for line in posts %}
                <tr>
                    <td>{{line.ItemID}}</td>
                    <td>{{line.pDescription}}</td>
                    <td>{{line.roomNum}}</td>
                    <td>{{line.shelf}}</td>
                    <td>{{line.shelfNum}}</td>
                    <td>{{line.shelfDescription}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <!-- <div class="button-container">
            <a href="/dashboard" class="btn">Back to Dashboard</a>
          </div> -->
        </section>
      </div>
    </div>
  </body>
</html>
  