{% extends "dashboard/base.html" %}
{% block dashboard_content %}
<div class="dashboard-content">
  <section id="start-order" class="data-section">
    <h2>Start an Order</h2>

    <!-- Flash messages -->
    <div class="messages">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="flash-messages">
            <ul>
                {% for category, message in messages %}
                <li class="{{ category }}" style="color: red;">{{ message | safe }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        {% endwith %}
    </div>

    <div class="form-container">
      <form method="POST" action="/start-order">
        <label for="client_username">Client Username:</label>
        <input type="text" id="client_username" name="client_username" placeholder="Enter client username" required />
        <button type="submit" class="btn">Start Order</button>
      </form>
    </div>
  </section>
</div>
{% endblock %}
